﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="dischargeLine" layoutRefId="marelLayout" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
 <Assignments>
	<Assignment type="Content" baseContentRefId="statusBar" areaRefId="areaStatus" styleRefId="default"/>
    <Assignment type="Content" baseContentRefId="dischargeLine" areaRefId="areaContent" styleRefId="default"/>

		<Assignment type="Content" baseContentRefId="logo"    				areaRefId="areaFooterLeft" 		styleRefId="default"/>
		<Assignment type="Content" baseContentRefId="controls" 				areaRefId="areaFooterCenter" 	styleRefId="default"/>
		<Assignment type="Content" baseContentRefId="serviceMenuBackFooter" areaRefId="areaFooterRight" 	styleRefId="default"/>
</Assignments>
</pdef:Page>
