﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="timingSettingsPage" layoutRefId="marelLayout" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
 <Assignments>
	<Assignment type="Content" baseContentRefId="statusBar" areaRefId="areaStatus" styleRefId="default"/>
    <Assignment type="Content" baseContentRefId="timingSettingsPage" areaRefId="areaContent" styleRefId="default"/>

	<Assignment type="Content" baseContentRefId="logo"    areaRefId="areaFooterLeft" styleRefId="default"/>
	<Assignment type="Content" baseContentRefId="footer" areaRefId="areaFooterCenter" styleRefId="default"/>
	<!--<Assignment type="Content" baseContentRefId="operatorBackFooter" areaRefId="areaFooterRight" styleRefId="default"/>-->
	<Assignment type="Content" baseContentRefId="startStopPauzeFooter" areaRefId="areaFooterRight" styleRefId="default"/>
</Assignments>
</pdef:Page>
