﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="recipePage" layoutRefId="mainLayout" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
  <Assignments>
		<Assignment type="Content" baseContentRefId="Top" areaRefId="areaTop" backColor="#2CE890" />
		<Assignment type="Content" baseContentRefId="Left" areaRefId="areaLeft" backColor="#2F3030" />
		<Assignment type="Content" baseContentRefId="recipePage" areaRefId="areaMain" backColor="#2CB9E8" />
  </Assignments>
</pdef:Page>
