@Override
public {{type}}Node get{{> Variable}}Node() {
	QualifiedName browseName = getQualifiedName("{{browsename.namespace}}", "{{browsename.name}}");
	return ({{type}}Node) getComponent(browseName);
}