﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="EncPage" layoutRefId="myLayout" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
  <Assignments>
		<Assignment type="Content" baseContentRefId="ContentEncPage" areaRefId="AreaMain" backColor="#2CB9E8" />
		<Assignment type="Content" baseContentRefId="ContentTop" areaRefId="AreaTop" backColor="#2CE890" />
		<Assignment type="Content" baseContentRefId="ContentLeft" areaRefId="AreaLeft" backColor="#2F3030" />
  </Assignments>
</pdef:Page>
